<div class="container mt-5" [hidden]='isLoadedData'>
    <p class="text-center">Lastest From Following</p>
    <div class="d-flex flex-wrap">
        <ng-container *ngFor="let item of articles | paginate: { id: 'foo',
        itemsPerPage: limit,
        currentPage: currentPage,
        totalItems: totalPage }">
            <app-blogcard class="col-12 col-md-6 col-lg-4">
                <ng-container class="img">
                    <img class="card-img-top" height="220" [src]="item.photo!= null ? item.photo : myImgSrc"
                        alt="Card image cap">
                </ng-container>
                <ng-container class="title">{{item.title}}</ng-container>
                <ng-container class="body">{{item.body | truncate:[100,'...']}}</ng-container>
                <ng-container class="date">{{item.createdAt | date:'mediumDate'}}</ng-container>
                <ng-container class="likes">{{item.likes.length}}</ng-container>
                <ng-container class="reads">{{item.reads}}</ng-container>
            </app-blogcard>
        </ng-container>
    </div>
    <pagination-controls id="foo" (pageChange)="loadPage($event)" (pageBoundsCorrection)="loadPage($event)"
        previousLabel="<" nextLabel=">" [autoHide]="totalPage==1"></pagination-controls>
</div>