<div id="all">

<div id="nav">

    <div id="TextWraper">

        <h2 id="title">Title</h2>

    </div>
    <div id="SearchWraper">

        <input type="text" class="form-control" placeholder="Search......" />

    </div>
    <div id="ButtonWraper">
        <input type="button" style="float: right; margin-top: 15px;" class="btn btn-primary" value="Home page" />

    </div>
    <div id="photoWraper"><img id="logo" width="45" height="45" src="/assets/ppo.jpg" /></div>
</div>







<div id="Main">
    <div id="blogSection">

        <div class="fBlog">
            <div class="blogHeader">
                <img style="margin: 10px;" width="120px" height="120px" src="/assets/artlog.jpg" />
            </div>
            <div class="blogBody">
                <h4 class="Blogtitle">Title tset test test test</h4>
                <p class="Blogcontent">description description description description description description
                    description description description description description description
                    description description description description description description
                    description description description description description description
                    description description description description description description
                    description description description description description description
                    description description description description description description
                    description description description description description description
                    description description description description description description
                    description description description description description description
                    description description description description description description
                    description</p>
                <p class="Blogcontent">jan 31</p><img width="35px" height="35px" src="/assets/heart.png"
                    style="margin:15px;" />
                <img width="35px" style="margin:15px; cursor: pointer;" height="35px" src="/assets/comm.jpg" (click)="flag=!flag;" />

                <br/>
                <div style="display: flex; margin-bottom: 10px;" *ngIf="flag">
                    <input type="text" style="flex: 8;" class="form-control" placeholder="Add your comment..."/>
                    <input type="button" style="flex: 1; margin-left: 15px;"  value="Add Comment" class="btn btn-primary" />
                </div>

                <a style="margin-top: 20px; cursor: pointer;" (click)='flag2=!flag2' >See All Comment</a>

                <div style="margin-top: 20px;" *ngIf="flag2">
                    <p style="font-size: 17px;">my first comment in angular</p>
                    <p style="font-size: 17px;">my first comment in angular</p>
                    <p style="font-size: 17px;">my first comment in angular</p>
                    <p style="font-size: 17px;">my first comment in angular</p>
                    <p style="font-size: 17px;">my first comment in angular</p>


                </div>


            </div>

        </div>


    </div>

    <div id="secondSection">

        <div id="first">

            <div>
                <img style="margin-left: 10px;" id="logo" width="45" height="45" src="/assets/ppo.jpg"/>
                <span style="font-weight: bold;font-size: 17px; margin: 30px;" >User1</span>
                <p style="font-weight: bold; margin: 25px;">About : </p>
                <button  class="btn btn-primary btn-block ">Following</button>
                <p style="font-weight: bold; margin: 10px;"> Joined  </p>
                <p style="font-weight: bold; margin: 10px;"> oct 18/20/2020  </p>



            </div>


        </div>

        <div id="second">
            <h3>More From User</h3>
            <p>test test test test test test</p>
            <p>test test test test test test</p>
            <p>test test test test test test</p>
            <p>test test test test test test</p>
            <p>test test test test test test</p>

        </div>

        <div style="text-align: center; margin-top: 30px;"><button style="padding: 10px;" class="btn btn-danger btn-block" >Un Follow</button></div>




    </div>

</div>



</div>