.navbar{
    background-color: #39424E;
}
  .navbar-nav .nav-link {
    padding-bottom: 0;
  }
.navbar > li{
    padding-top: 0;
    padding-left:5px;
    padding-right:5px;
  }

.navbar-expand-sm{
    padding-left:10%;
    padding-right:10%;
}
.popout { position: absolute !important;}