
<div class="blogFollowing">
    <h5 class="follwing">Latest from following</h5>
    <div class="BFcontainer">
        <div class="fBlog">

            <div class="blogHeader">
                <img width="55px" height="55px" src="/assets/artlog.jpg" />
            </div>
            <div class="blogBody">
                <h4 class="Blogtitle">Title tset test test test</h4>
                <p class="Blogcontent">Description description description description description description
                    description</p>
                <p class="Blogcontent">jan 31</p><img width="35px" height="35px" src="/assets/heart.png"
                    style="margin:15px;" />
                <img width="35px" style="margin:15px;" height="35px" src="/assets/comm.jpg" />


            </div>


        </div>
        <div class="fBlog">
            <div class="blogHeader">
                <img width="55px" height="55px" src="/assets/artlog.jpg" />
            </div>
            <div class="blogBody">
                <h4 class="Blogtitle">Title tset test test test</h4>
                <p class="Blogcontent">Description description description description description description
                    description</p>
                <p class="Blogcontent">jan 31</p><img width="35px" height="35px" src="/assets/heart.png"
                    style="margin:15px;" />
                <img width="35px" style="margin:15px;" height="35px" src="/assets/comm.jpg" />


            </div>

        </div>
        <div class="fBlog">
            <div class="blogHeader">
                <img width="55px" height="55px" src="/assets/artlog.jpg" />
            </div>
            <div class="blogBody">
                <h4 class="Blogtitle">Title tset test test test</h4>
                <p class="Blogcontent">Description description description description description description
                    description</p>
                <p class="Blogcontent">jan 31</p><img width="35px" height="35px" src="/assets/heart.png"
                    style="margin:15px;" />
                <img width="35px" style="margin:15px;" height="35px" src="/assets/comm.jpg" />

            </div>

        </div>
    </div>



</div>





<br><br><br>














<div class="blogFollowing" id="cont">
    <div class="blogList">
        <h5 class="follwing">Latest from community</h5>

        <div class="BFcontainer">
            <div class="fBlog">

                <div class="blogHeader">
                    <img width="55px" height="55px" src="/assets/artlog.jpg" />
                </div>
                <div class="blogBody">
                    <h4 class="Blogtitle">Title tset test test test</h4>
                    <p class="Blogcontent">Description description description description description description
                        description</p>
                    <p class="Blogcontent">jan 31</p><img width="35px" height="35px" src="/assets/heart.png"
                        style="margin:15px;" />
                    <img width="35px" style="margin:15px;" height="35px" src="/assets/comm.jpg" />


                </div>

            </div>
            <div class="fBlog">
                <div class="blogHeader">
                    <img width="55px" height="55px" src="/assets/artlog.jpg" />
                </div>
                <div class="blogBody">
                    <h4 class="Blogtitle">Title tset test test test</h4>
                    <p class="Blogcontent">Description description description description description description
                        description</p>
                    <p class="Blogcontent">jan 31</p><img width="35px" height="35px" src="/assets/heart.png"
                        style="margin:15px;" />
                    <img width="35px" style="margin:15px;" height="35px" src="/assets/comm.jpg" />


                </div>

            </div>
            <div class="fBlog">
                <div class="blogHeader">
                    <img width="55px" height="55px" src="/assets/artlog.jpg" />
                </div>
                <div class="blogBody">
                    <h4 class="Blogtitle">Title tset test test test</h4>
                    <p class="Blogcontent">Description description description description description description
                        description</p>
                    <p class="Blogcontent">jan 31</p><img width="35px" height="35px" src="/assets/heart.png"
                        style="margin:15px;" />
                    <img width="35px" style="margin:15px;" height="35px" src="/assets/comm.jpg" />

                </div>

            </div>
        </div>
    </div>

    <div class="follwerList">

        <div class="followerbody">
            <p>active users</p>
            <div class="followcell">


                <div class="f">
                    <img id="logo" width="45" height="45" src="/assets/ppo.jpg" />


                </div>
                <div class="f">
                    <p id="p1">User1</p>

                </div>
                <div class="f">

                    <button class="btn btn-primary" style="margin-top: 20px;">Follow</button>
                </div>

            </div>
            <div class="followcell">
                <div class="f">
                    <img id="logo" width="45" height="45" src="/assets/ppo.jpg" />


                </div>
                <div class="f">
                    <p id="p1">User1</p>

                </div>
                <div class="f">

                    <button class="btn btn-primary" style="margin-top: 20px;">Follow</button>
                </div>

            </div>
            <div class="followcell">
                <div class="f">
                    <img id="logo" width="45" height="45" src="/assets/ppo.jpg" />


                </div>
                <div class="f">
                    <p id="p1">User1</p>

                </div>
                <div class="f">

                    <button class="btn btn-primary" style="margin-top: 20px;">Follow</button>
                </div>

            </div>
            <div class="followcell">
                <div class="f">
                    <img id="logo" width="45" height="45" src="/assets/ppo.jpg" />


                </div>
                <div class="f">
                    <p id="p1">User1</p>

                </div>
                <div class="f">

                    <button class="btn btn-primary" style="margin-top: 20px;">Follow</button>
                </div>

            </div>


        </div>

    </div>

</div>